* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
  background-color: var(--Yellow);
}
:root {
  --Yellow: hsl(47, 88%, 63%);

  --White: hsl(0, 0%, 100%);

  --Gray500: hsl(0, 0%, 42%);
  --Gray950: hsl(0, 0%, 7%);
}
p {
  font-size: 16px;
}
.box {
  width: 400px;
  border: 2px solid;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: var(--White);
  box-shadow: 6px 6px 1px var(--Gray950);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1.2rem;
}
.box img {
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.box h2 {
  font-size: 16px;
  font-weight: 800;
  background-color: var(--Yellow);
  color: var(--Gray950);
  text-transform: capitalize;
  padding: 5px 10px;
  max-width: fit-content;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.date {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
h3 {
  font-size: 25px;
  text-transform: uppercase;
  color: var(--Gray950);
  font-weight: 700;
}
h3 span {
  text-transform: none;
}
h3:hover {
  color: var(--Yellow);
  cursor: pointer;
}
.defining {
  color: var(--Gray500);
  line-height: 25px;
  font-weight: 500;
}
.author {
  display: flex;
  align-items: center;
  gap: 10px;
}
.author img {
  width: 30px;
  height: 30px;
}
.author p {
  color: var(--Gray950);
  font-weight: 900;
  text-transform: capitalize;
}
